name: Build and Deploy to Staging

on:
  push:
    branches: ['master']
  workflow_dispatch:
    inputs:
      mode:
        description: "Deploy to Staging, 'pull' pulls changes and migrates, 'clean' rebuilds the Docker Container and pulls then"
        required: true
        default: pull
        type: choice
        options:
          - pull
          - clean

jobs:
  build-and-deploy:
    uses: MBD-Team/deployments/.github/workflows/deploy.yml@master
    with:
      env: Staging
      server: server3.mbd-team.de
      mode: ${{github.event.inputs.mode}}
      createTag: false
      runDeploymentCheck: false
      runPlaywrightDeploymentCheck: false
      domain: Herta.mbd-team.de
      project: Herta
